.postStatusList {
  @extend
    .p-0,
    .m-0;
 
  list-style: none;
  
  .postStatusEditable {
    @extend
      .d-flex,
      .justify-content-between,
      .p-3;

    .postStatusEditableActions a {
      cursor: pointer;

      &:hover { text-decoration: underline; }
    }
  }
}

.newPostStatusForm {
  @extend
    .d-flex,
    .m-2;

  column-gap: 16px;
}