<style>
    h1,h6{
        text-align: center;
    }
    .started_button{
        width: max-content;
        margin-left: 175px;
    }
    .div_container{
        margin-top: 3%;
    }
    .feedback_image{
        padding-left: 34%;
    }
</style>

<div class="overlay">
  <%= image_tag "feedback.png",class: "feedback_image"%>
</div>
<div class="div_container">
  <div class="row">
    <div class="col-xl-9 mx-auto">
      <h1 class="mb-5">Get Feedback From Your Users!</h1>
    </div>
    <% if current_user.role == "user" %>
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        <h6 class="mb-5">Click here to get your own feedback site!</h6>
        <div class="form-row">
          <div class="col-12 col-md-3">
            <%= link_to "Get Started!",make_site_url,class: "btn btn-block btn-lg btn-primary started_button"%>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


