<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>
<div class="field-unit__field">
  <%= f.select field.attribute, field.select_field_values(f) %>
</div>

<div
  title="Click to learn more"
  style="margin-left: 8px; cursor: pointer;"
  onclick="alert('If you add a user with role \'admin\', it will have same powers as you!')"
>
  ⚠️
</div>