<div class="sidebar">
  <div class="sidebarBox">
    <span class="boxTitleText"><%= t('site_settings.menu.title') %></span>
    
    <div class="verticalNavigation" role="tablist" aria-orientation="vertical">
      <%= render 'menu_link', label: t('site_settings.menu.boards'), path: site_settings_boards_path %>
      <%= render 'menu_link', label: t('site_settings.menu.post_statuses'), path: site_settings_post_statuses_path %>
      <%= render 'menu_link', label: t('site_settings.menu.roadmap'), path: site_settings_roadmap_path %>
    </div>
  </div>
</div>