<div class="multiColumnContainer">
  <%= render 'menu' %>
  <div class="multiRowContent">
    <%=
      react_component(
        'SiteSettings/Boards',
        {
          authenticityToken: form_authenticity_token
        }
      )
    %>
  </div>
</div>