<div class="twoColumnsContainer">
  <%= render 'menu' %>
  <div>
    <%=
      react_component(
        'SiteSettings/General',
        {
          originForm: {
            siteName: @tenant.site_name,
            siteLogo: @tenant.site_logo,
            brandDisplaySetting: @tenant_setting.brand_display,
            showVoteCount: @tenant_setting.show_vote_count,
            showVoteButtonInBoard: @tenant_setting.show_vote_button_in_board,
            showPoweredBy: @tenant_setting.show_powered_by,
            rootBoardId: @tenant_setting.root_board_id.to_s,
            customDomain: @tenant.custom_domain,
            showRoadmapInHeader: @tenant_setting.show_roadmap_in_header,
            collapseBoardsInHeader: @tenant_setting.collapse_boards_in_header,
            locale: @tenant.locale
          },
          boards: @tenant.boards.order(order: :asc),
          authenticityToken: form_authenticity_token
        }
      )
    %>
  </div>
</div>