<div class="twoColumnsContainer">
  <%= render 'menu' %>
  <div>
    <%=
      react_component(
        'SiteSettings/General',
        {
          originForm: {
            siteName: @tenant.site_name,
            oldSiteLogo: @tenant.old_site_logo,
            brandDisplaySetting: @tenant_setting.brand_display,
            showVoteCount: @tenant_setting.show_vote_count,
            showVoteButtonInBoard: @tenant_setting.show_vote_button_in_board,
            hideUnusedStatusesInFilterByStatus: @tenant_setting.hide_unused_statuses_in_filter_by_status,
            showPoweredBy: @tenant_setting.show_powered_by,
            rootBoardId: @tenant_setting.root_board_id.to_s,
            customDomain: @tenant.custom_domain,
            isPrivate: @tenant_setting.is_private,
            allowAnonymousFeedback: @tenant_setting.allow_anonymous_feedback,
            feedbackApprovalPolicy: @tenant_setting.feedback_approval_policy,
            allowAttachmentUpload: @tenant_setting.allow_attachment_upload,
            logoLinksTo: @tenant_setting.logo_links_to,
            logoCustomUrl: @tenant_setting.logo_custom_url,
            showRoadmapInHeader: @tenant_setting.show_roadmap_in_header,
            collapseBoardsInHeader: @tenant_setting.collapse_boards_in_header,
            locale: @tenant.locale,
            useBrowserLocale: @tenant_setting.use_browser_locale,
          },
          siteLogoUrl: @tenant.site_logo.attached? ? @tenant.site_logo.blob.url : nil,
          siteFaviconUrl: @tenant.site_favicon.attached? ? @tenant.site_favicon.blob.url : nil,
          boards: @tenant.boards.order(order: :asc),
          isMultiTenant: Rails.application.multi_tenancy?,
          authenticityToken: form_authenticity_token
        }
      )
    %>
  </div>
</div>