<div class="twoColumnsContainer">
  <%= render 'menu' %>
  <div>
    <%=
      react_component(
        'SiteSettings/General',
        {
          originForm: {
            siteName: @tenant.site_name,
            siteLogo: @tenant.site_logo,
            brandDisplaySetting: @tenant.tenant_setting.brand_display,
            locale: @tenant.locale
          },
          authenticityToken: form_authenticity_token
        }
      )
    %>
  </div>
</div>