<div class="multiColumnContainer">
  <%= render 'menu' %>

  <div class="content">
    <h2>Post statuses</h2>
    <%=
      react_component(
        'SiteSettings/PostStatuses',
        {
          authenticityToken: form_authenticity_token
        }
      )
    %>
  </div>
</div>