<div class="twoColumnsContainer">
  <%= render 'menu' %>
  <div>
    <%=
      react_component(
        'SiteSettings/Users',
        {
          currentUserEmail: current_user.email,
          currentUserRole: current_user.role,
          authenticityToken: form_authenticity_token
        }
      )
    %>
  </div>
</div>