<div class="twoColumnsContainer">
  <%= render 'menu' %>
  <div>
    <%=
      react_component(
        'SiteSettings/Webhooks',
        {
          authenticityToken: form_authenticity_token
        }
      )
    %>
  </div>
</div>