<footer>
  <hr style="border-top: 1px;">
  <p style="margin-bottom: 0; font-size: 14px; color: grey;">
    <%=
      t(
        'mailers.user.unsubscribe_from_post_html',
        href: link_to(t('mailers.user.unsubscribe_link'), get_url_for(method(:post_url), resource: post))
      )
    %>
  </p>
</footer>