<p>
  <%= t('mailers.user.notify_followers_of_post_status_change.body', post: @post.title) %>
  <span style='color: white; border-radius: 10rem; padding: 0.5rem; background-color: <%= @post.post_status.color %>;'>
    <%= @post.post_status.name.upcase %>
  </span>
</p>

<p>
  <%= link_to t('mailers.user.learn_more'), add_subdomain_to(method(:post_url), @post) %>
</p>
