<p>
  <%= I18n.t('user_mailer.notify_followers_of_post_status_change.body', { post: @post }) %>
  <span style='background-color: <%= @post.post_status.color %>; color: white;'%>>
    <%= @post.post_status.name %>
  </span>
</p>

<p>
  <%= link_to I18n.t('user_mailer.learn_more'), post_url(@post) %>
</p>
