<p>
  <%= t('user_mailer.notify_comment_owner.body', { user: @comment.user.full_name, post: @comment.post.title }) %>
</p>

<p>
  <i><%= @comment.body %></i>
</p>

<p>
  <%= link_to t('user_mailer.learn_more'), post_url(@comment.post) %>
</p>
