.field_with_errors {
  label {
    color: $danger;
  }

  input {
    border-color: $danger;
  }
}

.form-control:focus {
  border-color: $astuto-grey;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 4px rgba(0, 0, 0, 0.6);
}

.new_user, .edit_user {
  @extend .card;

  width: 100%;
  max-width: 360px;

  text-align: center;

  padding: 15px;
  margin: 0 auto;
}

.deviseLinks {
  @extend .new_user;

  display: flex;
  flex-direction: column;

  margin-top: 24px;

  a { color: $astuto-black; }
}

@media (prefers-color-scheme: dark) {
  .deviseLinks {
    a { color: white !important; }
  }

  .form-control {
    background-color: #242424;
  }
}