/*
  This stylesheet contains styles that are general and
  could not be grouped in a file of their own
*/

.container {
  max-width: 920px;
}

.gravatar {
  border-radius: 16px;
}

.dot {
  width: 16px;
  height: 16px;
  border-radius: 100%;

  margin-top: auto;
  margin-bottom: auto;
  margin-right: 4px;
}

.loginInfo {
  text-decoration: underline;
}