/*
  This stylesheet contains styles that are general and
  could not be grouped in a file of their own
*/

.container {
  max-width: 960px;
}

.turbolinks-progress-bar {
  background-color: $astuto-black;
  height: 2px;
}

.gravatar {
  border-radius: 100%;
}

.dot {
  width: 16px;
  height: 16px;
  border-radius: 100%;

  margin-top: auto;
  margin-bottom: auto;
  margin-right: 4px;
}

.loginInfo {
  text-decoration: underline;
}

.btn {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}