.generalSiteSettingsContainer {
  .settingsGroup {
    @extend .mt-4;

    scroll-margin-top: 96px;
  }

  .generalSiteSettingsSubmit {
    @extend .mb-4;
  }

  .siteLogoPreview, .siteFaviconPreview {
    @extend .d-block, .my-2;
  
    position: relative;
    display: inline-block;
    width: fit-content; /* Container matches the image size */
    height: fit-content; /* Adjusts height to match the image */
  }
  
  .siteLogoPreview .siteLogoPreviewImg, .siteFaviconPreview .siteFaviconPreviewImg {
    display: block;
    height: 50px; /* Fixed height for the image */
    width: auto; /* Maintain the aspect ratio */
  }
  
  .siteLogoPreview.siteLogoPreviewShouldDelete, .siteFaviconPreview.siteFaviconPreviewShouldDelete {
    border: 2px solid red;
    
    .siteFaviconPreviewImg {
      filter: grayscale(100%);
    }
  }

  .siteLogoActions, .siteFaviconActions { @extend .d-flex; }
}