.userCount {
  text-transform: lowercase;
}

ul.usersList {
  @extend
    .pl-1;

  list-style: none;

  li.userEditable {
    @extend
      .d-flex,
      .justify-content-between,
      .my-2,
      .p-3;

    .userGravatar {
      @extend .mr-3, .align-self-center;
    }

    .userFullName {
      font-size: 18px;
    }

    .userInfo {
      @extend .d-flex;

      .userFullNameRoleStatus {
        @extend
          .d-flex,
          .flex-column;
      }
    }

    .userEditableActions {
      @extend .d-flex, .align-self-center;
    }

    .userForm {
      @extend .d-flex;

      .userFullNameRoleForm {
        @extend .d-flex, .flex-column;
      }
    }

    .updateUserButton {
      @extend .align-self-center;
      margin-left: 16px;
    }

    .userStatusblocked { color: orange; }
    .userStatusdeleted { color: red; }
  }
}