<h2>Roadmap</h2>


<%# @users.each do |user| %>
<!--  <p><%#= user.name %> <%#= link_to root_url(:subdomain => user.subdomain), root_url(:subdomain => user.subdomain) %></p>-->
<%# end %>

<!--<p>User: <%#= @user.name %></p>-->
<!--<p>Email: <%#= @user.email if @user.email %></p>-->
<!--<p>Profile: <%#= link_to root_url(:subdomain => @user.subdomain), root_url(:subdomain => @user.subdomain) %></p>-->

<%=
  react_component(
    'Roadmap',
    {
      postStatuses: @post_statuses,
      posts: @posts,
      boards: @boards,
    }
  )
%>
