:root {
  // Theme palette (supposed to be customized)
  --primary-color: rgb(135, 97, 209);
  --background-color: rgba(134, 97, 209, 0.03);

  // Theme palette shades (supposed to be computed from theme palette)
  --primary-color-light: color-mix(in srgb,var(--primary-color), #fff 85%);
  --primary-color-dark: color-mix(in srgb,var(--primary-color), #000 20%);

  // Astuto colors (supposed to be fixed)
  --astuto-black: #rgb(51, 51, 51);
  --astuto-grey: rgba(0, 0, 0, 0.5);
  --astuto-grey-light: rgba(178, 178, 178, 0.2);
}
