/*
  This styles apply to custom texts defined in  
  /app/javascript/components/shared/CustomTexts.tsx
*/

.titleText {
  @extend
   .font-weight-bolder;
}

.boxTitleText {
  @extend
    .font-weight-bolder,
    .text-uppercase,
    .mb-2;

  font-size: 16px;
}

.centeredText {
  @extend
    .text-center,
    .p-2;
}

.mutedText {
  color: $muted-text-color;
}

.smallMutedText {
  @extend
    .mutedText,
    .m-0;
  
  font-size: smaller;
  line-height: 95%;
}

.uppercaseText {
  @extend
    .text-secondary,
    .text-uppercase,
    .font-weight-light;
  
    font-size: 13px;
}

.successText {
  @extend
    .text-success,
    .text-center;
}

.dangerText {
  @extend
    .text-danger,
    .text-center;
}

.descriptionText {
  @extend
    .text-muted;
}