default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  host: <%= ENV.fetch("POSTGRES_HOST", "db") %>
  username: <%= ENV['POSTGRES_USER'] %>
  password: <%= ENV['POSTGRES_PASSWORD'] %>

development:
  <<: *default
  database: <%= ENV['POSTGRES_USER'] %>

test:
  <<: *default
  database: <%= ENV['POSTGRES_USER'] %>_test
  
production:
  <<: *default
  database: <%= ENV['POSTGRES_USER'] %>