<p>
Hello <%= @tenant.owner.full_name %>!
</p>

<p>
We're sorry to see you go. <b>Your subscription has been cancelled and won't be renewed</b>.
</p>

<p>
Your current subscription will remain active until <%= @subscription_ends_at.strftime('%B %d, %Y') %>.
</p>

<p>
If you have any questions or need help, please don't hesitate to <a href="mailto:info@astuto.io">contact us</a>.
</p>

<p>
Have a great day!
</p>