<p>
Hello <%= @tenant.owner.full_name_or_email %>!
</p>

<p>
<b>You have successfully set your subscription to renew automatically.</b>
</p>

<p>
If you have any questions or need help, please don't hesitate to <a href="mailto:info@astuto.io">contact us</a>.
</p>

<p>
Have a great day!
</p>