<p>
Hi <%= @tenant.owner.full_name %>,
</p>

<p>
I hope you're doing well!
</p>

<p>
I'm Riccardo from the Astuto team.
</p>

<p>
How's your Astuto trial going? If you have any questions or encounter any issues, please feel free to share them by simply replying to this email.
</p>

<p>
Also remember that your trial period will expire on <%= I18n.localize @trial_ends_at, format: :long %>.
</p>

<p>
I'd love to hear your feedback.
</p>

<p>
Cheers,<br />
Riccardo
</p>