Hello <%= @owner.full_name %>,

I'm Riccardo from the Astuto team.

Thanks for your interest in Astuto. I'm happy to let you know that your <%= (Rails.application.trial_period_days / 1.day).to_s %> days trial has started and you can access your feedback space at <a href="<%= get_url_for(method(:root_url)) %>"><%= get_url_for(method(:root_url)) %></a>.

I'm here to help you with any questions you might have, so feel free to reply to this email.

Best,
Riccardo