@import './bootstrap_custom.scss';
@import './navbar.scss';
@import './forms.scss';
@import './icons.scss';

.container {
  max-width: 920px;
}

.gravatar {
  border-radius: 16px;
}

.dot {
  width: 16px;
  height: 16px;
  border-radius: 100%;

  margin-top: auto;
  margin-bottom: auto;
  margin-right: 4px;
}