/* General setup */
span.icon {
	margin: 4px;
  background-color: white;
  border: 2px solid black;
  display: inline-block;
  position: relative;
  vertical-align: top;
}
span.icon:after,
span.icon:before {
  background: white;
  border: 2px solid black;
  content: '';
  position: absolute;
}

/* Comment icon */
span.comment {
  border-radius: 4px;
  width: 22px;
  height: 14px;
}
span.comment:after,
span.comment:before {
  background: none;
  border-bottom: 6px solid transparent;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid black;
  bottom: -14px;
  height: 0;
  left: 4px;
  width: 0;
}
span.comment:before {
  border-top-color: white;
  bottom: -11px;
  z-index: 1;
}
span.comment:hover:after {
  background: none;
}
span.comment:hover:before {
  background: none;
  border-top-color: #ffe;
}