@import 'vendors/bootstrap_custom';

@import 'constants/colors';

@import 'general/components';
@import 'general/custom_texts';
@import 'general/form';
@import 'general/header';
@import 'general/index';

/* Components */
@import 'components/Board';
@import 'components/Comments';
@import 'components/Post';
@import 'components/Roadmap';