.likeButtonContainer {
  @extend
    .d-flex,
    .flex-column,
    .mr-3,
    .mt-2;

  $like_button_size: 11px;

  .likeButton {
    @extend .mb-2;

    border-left: $like_button_size solid transparent;
    border-right: $like_button_size solid transparent;
    border-bottom: $like_button_size solid rgba(35,35,35,.2);

    &:hover {
      border-bottom-color: $astuto-black;
      cursor: pointer;
    }
  }

  .likeButton.liked {
    border-bottom-color: $astuto-black;
  }

  .likesCountLabel {
    text-align: center;
    font-size: 17px;
  }
}

@media (prefers-color-scheme: dark) {
  $like_button_size: 11px;

  .likeButton {
    border-bottom: $like_button_size solid white !important;
  }
}