.pageContainer {
  @extend
    .d-flex,
    .justify-content-between,
    .align-items-start;

  flex-direction: row;

  @include media-breakpoint-down(sm) {
    flex-direction: column;

    .postAndCommentsContainer { width: 100%; }
  }

  .sidebar {
    .likeListContainer {
      @extend .sidebarCard;

      .likeList {
        @extend .w-100;

        max-height: 170px;
        overflow-y: scroll;

        .likeListItem {
          @extend
            .p-2,
            .my-1;
  
          .likeListItemName {
            @extend .ml-2;
          }
        }
      }
    } 
  }

  .postAndCommentsContainer {
    @extend
      .card,
      .flex-grow-1,
      .p-3;

    .postInfo {
      @extend .d-flex;

      span {
        @extend .mr-2;
      }
    }

    .postHeader {
      @extend
        .d-flex;

      a {
        @extend
          .ml-1;
        
        line-height: 1em;
      }
    }

    .postSettings {
      @extend
        .d-flex,
        .justify-content-between;

      .selectPicker {
        @extend
          .custom-select,
          .mx-2;
      }
    }

    .postDescription {
      @extend
        .my-3;

      color: $astuto-black;
    }
  }
}