.pageContainer {
  @extend
    .d-flex,
    .justify-content-between,
    .align-items-start;

    flex-direction: row;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
  
      .postAndCommentsContainer { width: 100%; }
    }

  .postAndCommentsContainer {
    @extend
      .card,
      .flex-grow-1,
      .p-3;

    .postInfo {
      @extend .d-flex;

      span {
        @extend .mr-2;
      }
    }

    .postSettings {
      @extend
        .d-flex,
        .justify-content-between;

      .selectPicker {
        @extend
          .custom-select,
          .mx-2;
      }
    }

    .postDescription {
      @extend
        .my-3;

      color: #333;
    }
  }
}