.roadmapColumns {
  @extend
    .d-flex,
    .justify-content-between,
    .flex-wrap;

  .roadmapColumn {
    @extend
      .card,
      .my-2,
      .p-0;

    width: 32%;
    background-color: $astuto-grey;

    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }

  .columnHeader {
    @extend
      .card-header,
      .d-flex;

    .columnTitle {
      color: white;
    }
  }

  .scrollContainer {
    overflow-y: auto;
    max-height: 350px;
  }

  .postLink {
    @extend
      .my-2;

    &:hover { text-decoration: none; }
  }

  .postListItem {
    @extend
      .card3D,
      .d-flex,
      .flex-column,
      .m-2,
      .py-2;
  }
}