.roadmapColumns {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;

  @media (max-width: 800px) {
    .roadmapColumn {
      width: 100%;
    }
  }
  
  @media (min-width: 801px) {
    .roadmapColumn {
      width: 32%;
    }
  }
  
  .roadmapColumn {
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
  
    margin: 8px 0;
    padding: 8px;

    .columnHeader {
      display: flex;
      align-items: center;
    
      padding-bottom: 4px;
      border-bottom-style: solid;
      border-bottom-width: 1px;
      margin-bottom: 8px;
    }

    .infoText {
      text-align: center;
      font-style: italic;
    }
    
    .columnTitle {
      font-weight: 700;
    }
    
    .scrollContainer {
      overflow-y: auto;
      max-height: 350px;

      .postList {
        display: flex;
        flex-direction: column;

        .postLink {
          text-decoration: none;
          border-radius: 4px;
        }
        
        .postLink:hover {
          text-decoration: none;
          background-color: #f5f5f5;
        }
        
        .postListItem {
          margin: 4px 0;
          padding: 8px 4px;
        }
        
        .postTitle {
          color: black;
          font-weight: 500;
          font-size: 17px;
        }
        
        .postBoard {
          color: grey;
          font-weight: 400;
          font-size: 14px;
          text-transform: uppercase;
        }
      }
    }
  }
}