.roadmapColumns {
  @media (max-width: 800px) {
    .roadmapColumn {
      width: 100%;
    }
  }
  
  @media (min-width: 801px) {
    .roadmapColumn {
      width: 32%;
    }
  }

  .scrollContainer {
    overflow-y: auto;
    max-height: 350px;
  }

  .postLink:hover {
    text-decoration: none;
  }
}