.billingContainer {
  max-width: 640px;
  margin: 0 auto;

  h2 { @extend .mb-4; }

  .billingStatusBadge {
    @extend
      .badge,
      .badgeLight,
      .p-2,
      .ml-1,
      .mr-1;
  
    width: fit-content;
    text-transform: uppercase;
  }

  .billingStatusBadgeExpired {
    color: white;
    background-color: $danger;
  }
  
  .pricingTable {
    @extend
      .d-flex,
      .justify-content-around,
      .mt-4,
      .mb-4;
  }

  .billingUsefulLinks {
    @extend .mt-4;
  }
}