.field_with_errors {
  label {
    color: $danger;
  }

  input {
    border-color: $danger;
  }
}

.form-control:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 0 0.25rem var(--primary-color-light);
}

.new_user, .edit_user {
  @extend .card;

  width: 100%;
  max-width: 360px;

  text-align: center;

  padding: 15px;
  margin: 0 auto;

  label[for=user_notifications_enabled] {
    @extend .mb-0;
  }
}

.apiKeyGenerateButton { width: 100%; }

.deviseLinks {
  @extend .new_user;

  display: flex;
  flex-direction: column;

  margin-top: 24px;

  a { color: var(--astuto-black); }
}

.formRow {
  @extend .form-row;

  margin-top: 10px;
  margin-bottom: 10px;
}

.formGroup {
  @extend .form-group;
}

.formControl {
  @extend .form-control;

  &.invalid {
    border-color: red;
  }
}

.switch {
  @extend
    .custom-control-input;
}