.authenticationIndexPage {
  .oauthProvidersTitle {
    @extend .d-flex;

    button {
      @extend .ml-2;

      height: min-content;
    }
  }

  .oAuthsList {
    @extend .pl-1;

    list-style: none;

    .oAuthListItem {
      @extend
        .d-flex,
        .justify-content-between,
        .my-2,
        .p-3;

      .oAuthInfo {
        @extend .d-flex;

        column-gap: 32px;

        .oAuthLogo { border-radius: 100%; align-self: center; }

        .oAuthName { font-size: 18px; }
      }
      
      .oAuthActions {
        @extend .d-flex;

        align-self: center;
      }

      .defaultOAuthDiv {
        @extend .d-flex;

        .defaultOAuthLabel { @extend .align-self-center; }
      }
    }
  }
}

.authenticationFormPage {
  a.backButton {
    @extend .mb-2, .align-self-start;

    font-size: 18px;
  }

  .oAuthLogoPreview {
    @extend .d-block, .my-2;
  
    position: relative;
    display: inline-block;
    width: fit-content;
    height: fit-content;
  }
  
  .oAuthLogoPreview .oAuthLogoPreviewImg {
    display: block;
    height: 50px;
    width: auto;
  }
  
  .oAuthLogoPreview.oAuthLogoPreviewShouldDelete {
    border: 2px solid red;
    
    .oAuthLogoPreviewImg { filter: grayscale(100%); }
  }

  .oAuthLogoActions { @extend .d-flex; }
}